.contactMainList {
  text-align: center;
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 300px;
  overflow-y: auto;
}

@media (max-width: 900px) {
  .contactMainList {
    width: 100%;
  }

  .contactList {
    height: auto;
    max-height: 300px;
  }
}

@media (max-width: 600px) {
  .contactList {
    gap: 12px;
  }
}
@media (max-width: 480px) {
  .contactList {
    height: auto;
    max-height: 250px;
    gap: 8px;
  }
}
