.app {
  max-width: 60%;
  margin: 20px auto;
  border: 2px solid #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app header {
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 10px;
}

.app header h1 {
  margin: 0;
  font-weight: normal;
}

.app-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.new-contact-button{
  width: 130px;
  padding: 10px;
  border-radius: 5px;
  border: #000 1px solid;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-top: -50px;
  margin-left: 40px;
}